@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'Poppins-semiBold';
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Gilroy-extraBold';
  src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: 'Gilroy-light';
  src: url("../fonts/Gilroy-Light.ttf");
}

:root {
  --color-white: #FFFFFF;
  --color-bg-primary: #181B1F;
}

body {
  background-color: #181B1F;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body a {
  color: var(--color-white);
  text-decoration: none;
}

body .container {
  overflow: hidden;
}

.section-title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 16px;
}

.divider, .about-services .divider-sm, .slider .carousel .carousel-content .carousel-card .divider-sm {
  width: 110px;
  height: 0px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  border-image-slice: 1;
  border-image-width: 0 0 3px 0;
}

.mt-90 {
  margin-top: 90px;
}

header .radial1 {
  position: absolute;
  width: 761px;
  height: 761px;
  left: -386px;
  top: -415px;
  /* Gradient */
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.15;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

header .radial2 {
  position: absolute;
  width: 315px;
  height: 315px;
  left: 736px;
  top: 423px;
  background: #3360FF;
  opacity: 0.5;
  -webkit-filter: blur(350px);
          filter: blur(350px);
  z-index: -1;
}

header .radial3 {
  position: absolute;
  width: 315px;
  height: 315px;
  left: 1017px;
  top: 278px;
  background: #00F0FF;
  opacity: 0.5;
  -webkit-filter: blur(350px);
          filter: blur(350px);
  z-index: -1;
}

.about-services .radial1 {
  position: absolute;
  width: 416px;
  height: 416px;
  right: 20%;
  top: 1479px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.3;
  -webkit-filter: blur(350px);
          filter: blur(350px);
}

.about-services .radial2 {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 5%;
  top: 1843px;
  background: #3360FF;
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.about-services .radial3 {
  position: absolute;
  width: 620px;
  height: 620px;
  right: 5%;
  top: 2379px;
  background: #3360FF;
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.about-services .radial4 {
  position: absolute;
  width: 559px;
  height: 559px;
  left: -250px;
  top: 2744px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.swipper .radial1 {
  position: absolute;
  width: 788px;
  height: 788px;
  left: 1053px;
  top: 3643px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.2;
  -webkit-filter: blur(350px);
          filter: blur(350px);
  z-index: -1;
}

.swipper .radial2 {
  position: absolute;
  width: 436px;
  height: 436px;
  left: -287px;
  top: 4871px;
  background: #3360FF;
  opacity: 0.2;
  -webkit-filter: blur(400px);
          filter: blur(400px);
}

.our-team .radial1 {
  position: absolute;
  width: 464px;
  height: 464px;
  left: 1376px;
  top: 5737px;
  background: #3360FF;
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.navbar .logo {
  font-family: 'Gilroy-light';
  font-size: 28px;
}

.navbar .logo span {
  font-family: 'Gilroy-extraBold';
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.navbar .nav-links .nav-item {
  display: block;
  font-size: 16px;
  padding: 8px 2px;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .nav-links .nav-item:hover {
  -o-border-image: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
     border-image: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  border-image-slice: 1;
  border-image-width: 0 0 2px 0;
}

.navbar .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.navbar .navbar-items .nav-lang {
  text-transform: upperCase;
  background-image: url("../icons/drop_down_arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .navbar-items .nav-lang nav {
  position: absolute;
  display: none;
  width: 35px;
}

.navbar .navbar-items .nav-lang nav a {
  display: block;
  border: 1px solid transparent;
}

.navbar .navbar-items .nav-lang:hover {
  opacity: 1;
}

.navbar .navbar-items .nav-lang:hover nav {
  display: block;
}

.navbar .navbar-items .nav-lang:hover nav a:hover {
  border-bottom: 1px solid #00F0FF;
}

.navbar .navbar-items .nav-start {
  border-radius: 8px;
  color: var(--color-bg-primary);
  padding: 9px 20px;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navbar-items .nav-start span {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../icons/arrow_right.svg") no-repeat center;
}

.navbar .navbar-items .nav-start:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  color: var(--color-white);
}

.navbar .navbar-items .nav-start:hover span {
  background: url("../icons/arrow_right_white.svg") no-repeat center;
}

.navbar .navbar-items .nav-menu-btn {
  width: 44px;
  height: 44px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: url("../icons/top_menu.svg") no-repeat center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navbar-items .nav-menu-btn:hover {
  background: #FFFFFF url("../icons/top_menu_black.svg") no-repeat center;
}

header h1.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  margin-top: 100px;
  text-transform: capitalize;
}

header .divider {
  width: 190px;
  height: 0px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  border-image-slice: 1;
  border-image-width: 0 0 3px 0;
}

header .description {
  font-size: 26px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.65);
}

header .header-img .laptop {
  position: absolute;
  width: 881.96px;
  height: 489px;
  margin-left: -150px;
  top: 150px;
}

header .header-img .phone1 {
  position: absolute;
  width: 539.5px;
  height: 440.87px;
  margin-left: 230px;
  top: 280px;
}

header .header-img .phone2 {
  position: absolute;
  width: 546.86px;
  height: 501.24px;
  margin-left: 110px;
  top: 220px;
}

header .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

header .header-bottom .cn-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

header .header-bottom .cn-links a span {
  display: block;
  width: 45px;
  height: 45px;
}

header .header-bottom .cn-links a .insta {
  background: url("../icons/instagram.svg") no-repeat center;
}

header .header-bottom .cn-links a .fb {
  background: url("../icons/facebook.svg") no-repeat center;
}

header .header-bottom .cn-links a .linkedin {
  background: url("../icons/linkedin.svg") no-repeat center;
}

header .header-bottom .cn-links a:hover .insta {
  background: url("../icons/instagram_hvr.svg") no-repeat center;
}

header .header-bottom .cn-links a:hover .fb {
  background: url("../icons/facebook_hvr.svg") no-repeat center;
}

header .header-bottom .cn-links a:hover .linkedin {
  background: url("../icons/linkedin_hvr.svg") no-repeat center;
}

header .header-bottom .mouse-down {
  display: block;
  width: 24;
  height: 34;
  background: url("../icons/mouse.svg") no-repeat center;
}

.banner1 {
  background: #292F35;
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner1 .banner-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner1 .banner-panel .banner-div {
  height: 150px;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.banner1 .banner-item {
  margin-right: 60px;
}

.banner1 .banner-item.no-border {
  border-right: none;
}

.banner1 .banner-item h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  margin: 0;
  background: -webkit-linear-gradient(144.91deg, #00F0FF 20.26%, #3360FF 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 10px;
}

.banner1 .banner-item .title {
  font-size: 20px;
  line-height: 120%;
  font-family: 'Poppins-Bold';
}

.banner1 .banner-item p {
  line-height: 160%;
  margin: 0;
  margin-top: 12px;
}

.about-services {
  padding-bottom: 180px;
}

.about-services .bg-text {
  background-image: url("../icons/webtech.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60%;
}

.about-services .divider-sm {
  width: 43px;
  border-image-width: 0 0 2px 0;
}

.about-services .about-info {
  margin: 0;
  padding: 10px 0;
  font-size: 28px;
  line-height: 160%;
  color: #FFFFFF;
}

.about-services .block-about {
  background: #31373F;
  border-radius: 8px;
  padding: 40px;
  margin-top: 20px;
}

.about-services .block-about .block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins-semiBold';
  -webkit-column-gap: 12px;
          column-gap: 12px;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.about-services .block-about p {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.about-services .service-desc {
  background: rgba(49, 55, 63, 0.5);
  border-radius: 8px;
  padding: 25px 30px;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}

.about-services .block-service {
  margin-top: 70px;
}

.about-services .block-service img {
  margin-bottom: 16px;
}

.about-services .block-service .block-title {
  font-family: 'Poppins-semiBold';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.about-services .block-service p {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.7;
}

.our-team {
  background-color: #15181C;
  border: 1px solid #f00;
}

.slider {
  background: #1F262D;
}

.slider .carousel {
  margin-bottom: 130px;
}

.slider .carousel .carousel-indicators {
  margin-bottom: -40px;
}

.slider .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slider .carousel .carousel-inner {
  margin-left: 65px;
  margin-right: 65px;
  width: 90%;
}

.slider .carousel .carousel-control-prev, .slider .carousel .carousel-control-next {
  border: 1px solid #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 44%;
}

.slider .carousel .carousel-control-next-icon {
  background: url("../icons/arrow_left_s.svg") no-repeat center;
}

.slider .carousel .carousel-control-prev-icon {
  background: url("../icons/arrow_right_s.svg") no-repeat center;
}

.slider .carousel .carousel-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.slider .carousel .carousel-content .carousel-card {
  background: #181B1F;
  border-radius: 8px;
  padding: 20px 30px;
  text-align: center;
  min-height: 230px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider .carousel .carousel-content .carousel-card:hover {
  outline: 1px solid #00F0FF;
  -webkit-box-shadow: 0 0 3px 1px #00F0FF;
          box-shadow: 0 0 3px 1px #00F0FF;
}

.slider .carousel .carousel-content .carousel-card .divider-sm {
  width: 34px;
  border-image-width: 0 0 1px 0;
  margin: 20px auto;
}

.slider .carousel .carousel-content .carousel-card p {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.swipper .carousel {
  margin-bottom: 130px;
}

.swipper .carousel .carousel-indicators {
  margin-bottom: -40px;
}

.swipper .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.swipper .carousel .carousel-inner {
  margin-left: 65px;
  margin-right: 65px;
  width: 90%;
}

.swipper .carousel .carousel-control-prev, .swipper .carousel .carousel-control-next {
  border: 1px solid #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 44%;
}

.swipper .carousel .carousel-control-next-icon {
  background: url("../icons/arrow_left_s.svg") no-repeat center;
}

.swipper .carousel .carousel-control-prev-icon {
  background: url("../icons/arrow_right_s.svg") no-repeat center;
}

.swipper .carousel .carousel-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */