@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'Poppins-semiBold';
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Gilroy-extraBold';
  src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: 'Gilroy-light';
  src: url("../fonts/Gilroy-Light.ttf");
}

:root {
  --color-white: #FFFFFF;
  --color-bg-primary: #181B1F;
}

body {
  background-color: #181B1F;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body a {
  color: var(--color-white);
  text-decoration: none;
}

body a:hover {
  color: var(--color-white);
}

body .container {
  overflow: hidden;
}

.section-title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 16px;
}

.divider, .about-services .divider-sm, .slider .carousel .carousel-content .carousel-card .divider-sm, .swiper-slider .swiper-item .swiper-footer .divider, .our-team .team .team-item .team-item-content .member-footer .divider, .our-team .team .team-item .team-item-detail .divider, .contact-us .divider {
  width: 110px;
  height: 0px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  border-image-slice: 1;
  border-image-width: 0 0 3px 0;
  margin: 30px 0;
}

.mt-90 {
  margin-top: 90px;
}

header .radial1 {
  position: absolute;
  width: 761px;
  height: 761px;
  left: -386px;
  top: -415px;
  /* Gradient */
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.15;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

header .radial2 {
  position: absolute;
  width: 315px;
  height: 315px;
  left: 736px;
  top: 423px;
  background: #3360FF;
  opacity: 0.5;
  -webkit-filter: blur(350px);
          filter: blur(350px);
  z-index: -1;
}

header .radial3 {
  position: absolute;
  width: 315px;
  height: 315px;
  left: 1017px;
  top: 278px;
  background: #00F0FF;
  opacity: 0.5;
  -webkit-filter: blur(350px);
          filter: blur(350px);
  z-index: -1;
}

.about-services .radial1 {
  position: absolute;
  width: 416px;
  height: 416px;
  right: 20%;
  top: 1479px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.3;
  -webkit-filter: blur(350px);
          filter: blur(350px);
}

.about-services .radial2 {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 5%;
  top: 1843px;
  background: #3360FF;
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.about-services .radial3 {
  position: absolute;
  width: 620px;
  height: 620px;
  right: 5%;
  top: 2379px;
  background: #3360FF;
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.about-services .radial4 {
  position: absolute;
  width: 559px;
  height: 559px;
  left: -250px;
  top: 2744px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.swipper .radial1 {
  position: absolute;
  width: 788px;
  height: 788px;
  left: 1053px;
  top: 3643px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  opacity: 0.2;
  -webkit-filter: blur(350px);
          filter: blur(350px);
  z-index: -1;
}

.swipper .radial2 {
  position: absolute;
  width: 436px;
  height: 436px;
  left: -287px;
  top: 4871px;
  background: #3360FF;
  opacity: 0.2;
  -webkit-filter: blur(400px);
          filter: blur(400px);
}

.our-team .radial1 {
  position: absolute;
  width: 464px;
  height: 464px;
  left: 1376px;
  top: 5737px;
  background: #3360FF;
  opacity: 0.3;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  z-index: -1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.navbar .logo {
  font-family: 'Gilroy-light';
  font-size: 28px;
}

.navbar .logo span {
  font-family: 'Gilroy-extraBold';
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.navbar .nav-links .nav-item {
  display: block;
  font-size: 16px;
  padding: 8px 2px;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .nav-links .nav-item:hover {
  -o-border-image: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
     border-image: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  border-image-slice: 1;
  border-image-width: 0 0 2px 0;
}

.navbar .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.navbar .navbar-items .nav-lang {
  text-transform: upperCase;
  background-image: url("../icons/drop_down_arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0.5;
}

.navbar .navbar-items .nav-lang nav {
  display: none;
  position: absolute;
  width: 35px;
  z-index: 999;
}

.navbar .navbar-items .nav-lang nav a {
  display: block;
  border: 1px solid transparent;
}

.navbar .navbar-items .nav-lang:hover {
  opacity: 1;
}

.navbar .navbar-items .nav-lang:hover nav {
  display: block;
}

.navbar .navbar-items .nav-lang:hover nav a:hover {
  border-bottom: 1px solid #00F0FF;
}

.navbar .navbar-items .nav-start {
  border-radius: 8px;
  color: var(--color-bg-primary);
  padding: 9px 20px;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navbar-items .nav-start span {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../icons/arrow_right.svg") no-repeat center;
}

.navbar .navbar-items .nav-start:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  color: var(--color-white);
}

.navbar .navbar-items .nav-start:hover span {
  background: url("../icons/arrow_right_white.svg") no-repeat center;
}

.navbar .navbar-items .nav-menu-btn {
  width: 44px;
  height: 44px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: url("../icons/top_menu.svg") no-repeat center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navbar-items .nav-menu-btn:hover {
  background: #FFFFFF url("../icons/top_menu_black.svg") no-repeat center;
}

header h1.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  margin-top: 100px;
  text-transform: capitalize;
}

header .divider {
  width: 190px;
  height: 0px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  border-image-slice: 1;
  border-image-width: 0 0 3px 0;
}

header .description {
  font-size: 26px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.65);
}

header .header-img .laptop {
  position: absolute;
  width: 881.96px;
  height: 489px;
  margin-left: -150px;
  top: 150px;
}

header .header-img .phone1 {
  position: absolute;
  width: 539.5px;
  height: 440.87px;
  margin-left: 230px;
  top: 280px;
}

header .header-img .phone2 {
  position: absolute;
  width: 546.86px;
  height: 501.24px;
  margin-left: 110px;
  top: 220px;
}

header .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

header .header-bottom .cn-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

header .header-bottom .cn-links a span {
  display: block;
  width: 45px;
  height: 45px;
}

header .header-bottom .cn-links a .insta {
  background: url("../icons/instagram.svg") no-repeat center;
}

header .header-bottom .cn-links a .fb {
  background: url("../icons/facebook.svg") no-repeat center;
}

header .header-bottom .cn-links a .linkedin {
  background: url("../icons/linkedin.svg") no-repeat center;
}

header .header-bottom .cn-links a:hover .insta {
  background: url("../icons/instagram_hvr.svg") no-repeat center;
}

header .header-bottom .cn-links a:hover .fb {
  background: url("../icons/facebook_hvr.svg") no-repeat center;
}

header .header-bottom .cn-links a:hover .linkedin {
  background: url("../icons/linkedin_hvr.svg") no-repeat center;
}

header .header-bottom .mouse-down {
  display: block;
  width: 24;
  height: 34;
  background: url("../icons/mouse.svg") no-repeat center;
}

.banner1 {
  background: #292F35;
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner1 .banner-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner1 .banner-panel .banner-div {
  height: 150px;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.banner1 .banner-item {
  margin-right: 60px;
}

.banner1 .banner-item.no-border {
  border-right: none;
}

.banner1 .banner-item h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  margin: 0;
  background: -webkit-linear-gradient(144.91deg, #00F0FF 20.26%, #3360FF 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 10px;
}

.banner1 .banner-item .title {
  font-size: 20px;
  line-height: 120%;
  font-family: 'Poppins-Bold';
}

.banner1 .banner-item p {
  line-height: 160%;
  margin: 0;
  margin-top: 12px;
}

.about-services {
  padding-bottom: 180px;
}

.about-services .bg-text {
  background-image: url("../icons/webtech.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60%;
}

.about-services .divider-sm {
  width: 43px;
  border-image-width: 0 0 2px 0;
  margin: 15px 0 5px 0;
}

.about-services .about-info {
  margin: 0;
  padding: 10px 0;
  font-size: 28px;
  line-height: 160%;
  color: #FFFFFF;
}

.about-services .block-about {
  background: #31373F;
  border-radius: 8px;
  padding: 40px;
  margin-top: 40px;
}

.about-services .block-about .block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins-semiBold';
  -webkit-column-gap: 12px;
          column-gap: 12px;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.about-services .block-about p {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.about-services .service-desc {
  background: rgba(49, 55, 63, 0.5);
  border-radius: 8px;
  padding: 25px 30px;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}

.about-services .block-service {
  margin-top: 70px;
}

.about-services .block-service img {
  margin-bottom: 16px;
}

.about-services .block-service .block-title {
  font-family: 'Poppins-semiBold';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.about-services .block-service p {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.7;
}

.our-team {
  background-color: #15181C;
}

.slider {
  background: #1F262D;
}

.slider .carousel {
  margin-bottom: 130px;
}

.slider .carousel .carousel-indicators {
  margin-bottom: -40px;
}

.slider .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slider .carousel .carousel-inner {
  margin-left: 65px;
  margin-right: 65px;
  width: 90%;
}

.slider .carousel .carousel-control-prev, .slider .carousel .carousel-control-next {
  border: 1px solid #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 44%;
}

.slider .carousel .carousel-control-next-icon {
  background: url("../icons/arrow_left_s.svg") no-repeat center;
}

.slider .carousel .carousel-control-prev-icon {
  background: url("../icons/arrow_right_s.svg") no-repeat center;
}

.slider .carousel .carousel-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.slider .carousel .carousel-content .carousel-card {
  background: #181B1F;
  border-radius: 8px;
  padding: 20px 30px;
  text-align: center;
  min-height: 230px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider .carousel .carousel-content .carousel-card:hover {
  outline: 1px solid #00F0FF;
  -webkit-box-shadow: 0 0 3px 1px #00F0FF;
          box-shadow: 0 0 3px 1px #00F0FF;
}

.slider .carousel .carousel-content .carousel-card .divider-sm {
  width: 34px;
  border-image-width: 0 0 1px 0;
  margin: 20px auto;
}

.slider .carousel .carousel-content .carousel-card p {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.swiper-slider {
  padding-bottom: 80px;
}

.swiper-slider .swiper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.swiper-slider .swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 530px;
  padding: 5px 0;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.swiper-slider .swiper-item {
  width: 340px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  border-radius: 8px;
}

.swiper-slider .swiper-item img {
  width: 100%;
}

.swiper-slider .swiper-item .swiper-footer {
  padding: 8px 20px;
  background: #292F35;
  border-radius: 0 0 8px 8px;
}

.swiper-slider .swiper-item .swiper-footer h5 {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Poppins-semiBold';
  margin: 0;
}

.swiper-slider .swiper-item .swiper-footer .divider {
  width: 27px;
  height: 1px;
  border-image-width: 0 0 1px 0;
  margin: 3px 0 6px 0;
}

.swiper-slider .swiper-item .swiper-footer p {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.swiper-slider .swiper-item-1 {
  left: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-slider .swiper-item-2 {
  width: 430px;
  opacity: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.swiper-slider .swiper-item-2 .swiper-footer h5 {
  font-size: 22px;
  line-height: 26px;
}

.swiper-slider .swiper-item-2 .swiper-footer p {
  font-size: 15px;
  line-height: 16px;
}

.swiper-slider .swiper-item-3 {
  left: 85%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-slider .swiper-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
  margin-top: 20px;
}

.swiper-slider .swiper-controls button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: .5;
}

.swiper-slider .swiper-controls button:focus {
  outline: none;
}

.swiper-slider .swiper-controls button:hover {
  opacity: 1;
}

.swiper-slider .swiper-controls-previous {
  position: relative;
  background: url("../icons/arrow_left_s.svg") no-repeat center;
}

.swiper-slider .swiper-controls-next {
  position: relative;
  background: url("../icons/arrow_right_s.svg") no-repeat center;
}

.swiper-slider .works-all {
  text-align: end;
  padding: 20px 0;
  margin-top: 30px;
}

.swiper-slider .works-all a {
  border: 1px solid #FFF;
  padding: 7px 30px 7px 20px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  background: url("../icons/arrow_right_white.svg") no-repeat center;
  background-position: right 14px center;
}

.swiper-slider .works-all a:hover {
  background: url("../icons/arrow_right.svg") no-repeat center #FFFFFF;
  background-position: right 14px center;
  color: #25292F;
}

.our-team {
  padding-bottom: 70px;
}

.our-team .team {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 34px;
}

.our-team .team .team-item {
  overflow: hidden;
  max-height: 378px;
}

.our-team .team .team-item .team-item-content {
  overflow-y: hidden;
}

.our-team .team .team-item .team-item-content .photo {
  padding-top: 20px;
  text-align: center;
  border-radius: 8px;
  background: radial-gradient(circle at -30px -90px, #13263B, transparent 220px), radial-gradient(circle at 250px 290px, #123545, transparent 250px);
  background-color: #101214;
}

.our-team .team .team-item .team-item-content .photo img {
  max-height: 241px;
}

.our-team .team .team-item .team-item-content .member-name {
  font-family: 'Poppins-semiBold';
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 10px;
}

.our-team .team .team-item .team-item-content .member-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team .team .team-item .team-item-content .member-footer .divider {
  width: 58px;
  border-image-width: 0 0 1px 0;
  margin: 10px 0;
}

.our-team .team .team-item .team-item-content .member-footer .member-position {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.7;
}

.our-team .team .team-item .team-item-content .member-footer .details-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  background: url("../icons/arrow_right_white2.svg") no-repeat center;
  background-position-x: 13px;
  cursor: pointer;
}

.our-team .team .team-item .team-item-content .member-footer .details-btn:hover {
  border: 1px solid #00F0FF;
}

.our-team .team .team-item .team-item-detail {
  border-radius: 8px;
  background: radial-gradient(circle at -10px -80px, #144368, transparent 220px), radial-gradient(circle at 360px 390px, #124B6A, transparent 250px);
  background-color: #101214;
  position: relative;
  height: 100%;
  padding: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  opacity: 0;
}

.our-team .team .team-item .team-item-detail .member-name {
  font-family: 'Poppins-semiBold';
  font-size: 20px;
}

.our-team .team .team-item .team-item-detail .divider {
  width: 58px;
  border-image-width: 0 0 1px 0;
  margin: 10px 0;
}

.our-team .team .team-item .team-item-detail .member-position {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
}

.our-team .team .team-item .team-item-detail .member-spec {
  font-size: 14px;
  padding-bottom: 10px;
}

.our-team .team .team-item .team-item-detail .member-spec .strong {
  font-family: 'Poppins-semiBold';
}

.our-team .team .team-item .team-item-detail .member-spec p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.our-team .team .team-item .team-item-detail .member-links a {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 6px;
  background: url("../icons/linkedin.svg") no-repeat center;
  background-size: 16px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  margin-top: 10px;
}

.our-team .team .team-item .team-item-detail .member-links a:hover {
  background: url("../icons/linkedin_black.svg") no-repeat center;
  background-color: #FFFFFF;
}

.our-team .team .team-item:hover .team-item-detail {
  margin-top: -370px;
  opacity: 1;
}

.our-team .team-text {
  background: rgba(49, 55, 63, 0.25);
  border-radius: 8px;
  padding: 15px 50px;
  margin-top: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.7);
}

.main-news {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-news .news-item-wrap {
  padding: 1px;
  margin-bottom: 30px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-news .news-item-wrap .news-item {
  background-color: #25292F;
  padding: 25px;
  border-radius: 8px;
}

.main-news .news-item-wrap .news-item .news-img {
  width: 100%;
}

.main-news .news-item-wrap .news-item .news-title {
  font-family: 'Poppins-semiBold';
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-news .news-item-wrap .news-item .news-footer {
  border-top: 0.3px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-news .news-item-wrap .news-item .news-footer .pub {
  font-size: 15px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.main-news .news-item-wrap .news-item .news-footer .share-btn {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px 15px 7px 40px;
  background: url("../icons/share.svg") no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  cursor: pointer;
}

.main-news .news-item-wrap:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
}

.main-news .news-item-wrap:hover .news-item .share-btn {
  background: url("../icons/share_black.svg") no-repeat #FFFFFF;
  background-position-x: 15px;
  background-position-y: center;
  color: #25292F;
}

.main-news .news-all {
  text-align: end;
  padding: 20px 0;
  margin-top: 30px;
}

.main-news .news-all a {
  border: 1px solid #FFF;
  padding: 7px 30px 7px 20px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  background: url("../icons/arrow_right_white.svg") no-repeat center;
  background-position: right 14px center;
}

.main-news .news-all a:hover {
  background: url("../icons/arrow_right.svg") no-repeat center #FFFFFF;
  background-position: right 14px center;
  color: #25292F;
}

.contact-us .divider {
  width: 160px;
}

.contact-us .emails-wrap, .contact-us .phone-wrap {
  padding-top: 130px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-us .emails-wrap .row, .contact-us .phone-wrap .row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact-us .emails-wrap h3, .contact-us .phone-wrap h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.contact-us .emails-wrap h3.icon-email, .contact-us .phone-wrap h3.icon-email, .contact-us .phone-wrap h3.icon-phone, .contact-us .phone-wrap h3.icon-link, .contact-us .phone-wrap h3.icon-location {
  padding-left: 25px;
  background-image: url("../icons/email.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.contact-us .emails-wrap p, .contact-us .phone-wrap p {
  font-family: 'Poppins';
  font-style: medium;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0;
}

.contact-us .phone-wrap {
  padding-top: 50px;
  border-bottom: 0;
}

.contact-us .phone-wrap h3.icon-phone {
  background-image: url("../icons/phone.svg");
}

.contact-us .phone-wrap h3.icon-link {
  background-image: url("../icons/links.svg");
}

.contact-us .phone-wrap h3.icon-location {
  padding-left: 20px;
  background-image: url("../icons/location.svg");
}

.contact-us .phone-wrap .s-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .phone-wrap .s-links a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  margin-right: 10px;
}

.contact-us .phone-wrap .s-links a i {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-us .phone-wrap .s-links a i.icon-instagram {
  background-image: url("../icons/instagram.svg");
}

.contact-us .phone-wrap .s-links a i.icon-facebook {
  background-image: url("../icons/facebook.svg");
}

.contact-us .phone-wrap .s-links a i.icon-linkedin {
  background-image: url("../icons/linkedin.svg");
}

.contact-us .phone-wrap .s-links a:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
}

.contact-us .project-wrap {
  padding: 40px 60px;
  background-color: #111315;
  border-radius: 10px;
}

.contact-us .project-wrap h3 {
  font-family: 'Poppins-semiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 45px;
}

.contact-us .project-wrap h3.icon-project {
  padding-left: 25px;
  background-image: url("../icons/project.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.contact-us .project-wrap form .row {
  margin-bottom: 30px;
}

.contact-us .project-wrap form .row:last-child {
  margin-bottom: 0;
}

.contact-us .project-wrap form label {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 16px;
}

.contact-us .project-wrap form label span {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.contact-us .project-wrap form .form-control {
  padding-top: 10px;
  padding-bottom: 9px;
}

.contact-us .project-wrap form .form-select {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  background-position: right 0.75rem center;
}

.contact-us .project-wrap form .file-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .project-wrap form .file-wrap input[type="file"] {
  display: none;
}

.contact-us .project-wrap form .file-wrap label {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-size: 16px;
  padding: 14px 30px 13px 50px;
  background: url("../icons/pin.svg") no-repeat;
  background-position: left 2rem center;
  cursor: pointer;
}

.contact-us .project-wrap form .file-wrap div {
  color: rgba(255, 255, 255, 0.3);
}

.contact-us .project-wrap form .file-wrap div.active {
  color: #FFFFFF;
}

.contact-us .project-wrap form .checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  margin-top: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.contact-us .project-wrap form .checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.contact-us .project-wrap form .checkbox-wrap .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #EEE;
  border-radius: 6px;
}

.contact-us .project-wrap form .checkbox-wrap .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.contact-us .project-wrap form .checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
}

.contact-us .project-wrap form .checkbox-wrap .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact-us .project-wrap form .btn-form {
  background-color: #CACACA;
  font-size: 20px;
  font-family: 'Poppins-SemiBold';
}

.main-footer {
  background: #131618;
}

.main-footer .footer-wrap {
  padding: 90px 0;
}

.main-footer .footer-wrap .link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main-footer .footer-wrap .link-wrap .home-link {
  font-family: 'Gilroy-light';
  font-size: 30px;
  line-height: 36px;
}

.main-footer .footer-wrap .link-wrap .home-link span {
  font-family: 'Gilroy-extraBold';
}

.main-footer .footer-wrap .link-wrap .licence {
  font-size: 14px;
  line-height: 20px;
  margin-top: 3.75rem;
}

.main-footer .footer-wrap .link-wrap .copyright {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: auto;
  margin-bottom: 0;
}

.main-footer .footer-wrap .footer-title {
  font-size: 16px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 26px;
}

.main-footer .footer-wrap .footer-links, .main-footer .footer-wrap .footer-s-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer .footer-wrap .footer-links a, .main-footer .footer-wrap .footer-s-links a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

.main-footer .footer-wrap .footer-links a:hover, .main-footer .footer-wrap .footer-s-links a:hover {
  color: #FFFFFF;
}

.main-footer .footer-wrap .f-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.main-footer .footer-wrap .f-links a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 20px;
}

.main-footer .footer-wrap .f-links a:hover {
  color: #FFFFFF;
}

.main-footer .footer-wrap .s-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.main-footer .footer-wrap .s-links a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.main-footer .footer-wrap .s-links a i {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-footer .footer-wrap .s-links a i.icon-instagram {
  background-image: url("../icons/instagram.svg");
}

.main-footer .footer-wrap .s-links a i.icon-facebook {
  background-image: url("../icons/facebook.svg");
}

.main-footer .footer-wrap .s-links a i.icon-linkedin {
  background-image: url("../icons/linkedin.svg");
}

.main-footer .footer-wrap .s-links a:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.94%, #00F0FF), color-stop(101.89%, #3360FF));
  background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
}

.main-footer .footer-wrap .footer-s-links a {
  line-height: 18px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */