.contact-us {
    .divider {
        @extend %divider;
        width: 160px;
    }

    .emails-wrap {
        padding-top: 130px;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        
        .row {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: rgba(255, 255, 255, 0.5);

            &.icon-email {
                padding-left: 25px;
                background-image: url('../icons/email.svg');
                background-repeat: no-repeat;
                background-position: left center;

            }            
        }

        p {
            font-family: 'Poppins';
            font-style: medium;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin: 0;
        }
    }

    .phone-wrap {
        @extend .emails-wrap;
        padding-top: 50px;
        border-bottom: 0;

        h3 {
            &.icon-phone {
                @extend .icon-email;
                background-image: url('../icons/phone.svg');
            }

            &.icon-link {
                @extend .icon-email;
                background-image: url('../icons/links.svg');
            }

            &.icon-location {
                @extend .icon-email;
                padding-left: 20px;
                background-image: url('../icons/location.svg');
            }
        }

        .s-links {
            display: flex;
            flex-direction: row;
            align-items: center;            
            
            a {
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #FFFFFF;
                border-radius: 6px;
                margin-right: 10px;

                i {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;                   

                    &.icon-instagram {
                        background-image: url('../icons/instagram.svg');
                    }

                    &.icon-facebook {
                        background-image: url('../icons/facebook.svg');
                    }
                    &.icon-linkedin {
                        background-image: url('../icons/linkedin.svg');
                    }
                }

                &:hover {
                    background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
                }
            }
        }
    }

    .project-wrap {
        padding: 40px 60px;
        background-color: #111315;
        border-radius: 10px;

        h3 {
            font-family: 'Poppins-semiBold';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 45px;

            &.icon-project {
                padding-left: 25px;
                background-image: url('../icons/project.svg');
                background-repeat: no-repeat;
                background-position: left center;
            }
        }

        form {

            .row {
                margin-bottom: 30px;
            }

            .row:last-child {
                margin-bottom: 0;
            }

            label {
                margin-bottom: 14px;
                font-size: 14px;
                line-height: 16px;
                span {
                    background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            .form-control {
                padding-top: 10px;
                padding-bottom: 9px;
            }
            .form-select {
                padding-top: 10px;
                padding-bottom: 9px;
                padding-left: 10px;;
                background-position: right 0.75rem center;                
            }

            .file-wrap {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                input[type="file"] {
                    display: none;
                }

                label {
                    border: 1px solid #FFFFFF;
                    border-radius: 8px;
                    font-size: 16px;
                    padding: 14px 30px 13px 50px;
                    background: url('../icons/pin.svg') no-repeat;
                    background-position: left 2rem center;                    
                    cursor: pointer;
                }

                div {
                    color:rgba(255, 255, 255, 0.3);
                    &.active {
                        color: #FFFFFF;
                    }
                }
            }

            .checkbox-wrap {
                display: block;
                position: relative;
                padding-left: 35px;
                padding-top: 4px;
                margin-top: 15px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size:14px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;


                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;                    
                    border: 1px solid #EEE;
                    border-radius: 6px;
                }
                                
                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the checkmark when checked */
                input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the checkmark/indicator */
                .checkmark:after {
                    left: 10px;
                    top: 5px;
                    width: 5px;
                    height: 11px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);                    
                }
            }

            .btn-form {
                background-color: #CACACA;
                font-size: 20px;
                font-family: 'Poppins-SemiBold';
            }
           
        }

    }
}