@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy-extraBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf');
}

@font-face {
    font-family: 'Gilroy-light';
    src: url('../fonts/Gilroy-Light.ttf');
}


:root {
    --color-white: #FFFFFF;
    --color-bg-primary: #181B1F;

}

body {
    background-color: #181B1F;    
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;

    a {
        color: var(--color-white);
        text-decoration: none;
    }

    .container {
        overflow: hidden;
    }
}


