header {
    .radial1 {
        position: absolute;
        width: 761px;
        height: 761px;
        left: -386px;
        top: -415px;
        /* Gradient */
        background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
        opacity: 0.15;
        filter: blur(400px);
        z-index: -1;        
    }

    .radial2 {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 736px;
        top: 423px;
        background: #3360FF;
        opacity: 0.5;
        filter: blur(350px);
        z-index: -1;
    }

    .radial3 {
        position: absolute;
        width: 315px;
        height: 315px;
        left: 1017px;
        top: 278px;
        background: #00F0FF;
        opacity: 0.5;
        filter: blur(350px);
        z-index: -1;
    }
}

.about-services {
    .radial1 {
        position: absolute;
        width: 416px;
        height: 416px;
        right: 20%;
        top: 1479px;
        z-index: -1;        
        background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
        opacity: 0.3;
        filter: blur(350px);
    }

    .radial2 {
        position: absolute;
        width: 286px;
        height: 286px;
        left: 5%;
        top: 1843px;
        background: #3360FF;
        opacity: 0.3;
        filter: blur(400px);
        z-index: -1;
    }

    .radial3 {
        position: absolute;
        width: 620px;
        height: 620px;
        right: 5%;
        top: 2379px;
        background: #3360FF;
        opacity: 0.3;
        filter: blur(400px);
        z-index: -1;                
    }

    .radial4 {
        position: absolute;
        width: 559px;
        height: 559px;
        left: -250px;
        top: 2744px;
        background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
        opacity: 0.3;
        filter: blur(400px);
        z-index: -1;        
    }
}

.swipper {
    .radial1 {
        position: absolute;
        width: 788px;
        height: 788px;
        left: 1053px;
        top: 3643px;
        background: linear-gradient(90deg, #00F0FF 0.94%, #3360FF 101.89%);
        opacity: 0.2;
        filter: blur(350px);
        z-index: -1;
    }

    .radial2 {
        position: absolute;
        width: 436px;
        height: 436px;
        left: -287px;
        top: 4871px;
        background: #3360FF;
        opacity: 0.2;
        filter: blur(400px);
    }
}

.our-team {
    .radial1 {
        position: absolute;
        width: 464px;
        height: 464px;
        left: 1376px;
        top: 5737px;
        background: #3360FF;
        opacity: 0.3;
        filter: blur(400px);
    }
}